.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
webpack.config.js
jest.config.js
coverage/**
**/__tests__/**
**/*.test.ts
**/*.spec.ts
.nyc_output
out/test/**